@import "@fontsource/pt-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 25rem;
    height: 0.5rem;
    background-color: #505050;
    border-radius: 0.5rem;
    outline: none;
    @apply drop-shadow-lg;
  }
}

:root {
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "PT Sans", sans-serif;
}
